
.header {
  padding: 24px;
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  align-items: center;
  position: relative;
}


.nav {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}


.header-title {
  flex: 1;
  text-align: flex-start;
  margin: 0;
}

@media (max-width: 768px) {
  .header-title {
    text-align: center;
  }
}


.navmenu {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .navmenu {
    display: none;
  }
}
